<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Cadastrar Endereço</h2>
        <form method="POST">
            <input type="text" name="endereco" placeholder="Endereço (ex: Av. Paulista)" required>
            <input type="text" name="bairro" placeholder="Bairro" required>
            <input type="text" name="numero" placeholder="Número" required>
            <input type="text" name="cep" placeholder="CEP" required>
            <button type="submit" class="btn">Enviar</button>
        </form>
        <!-- Botão de voltar -->
        <br>
        <a href="/" class="btn-back">Voltar</a>
    </div>
</body>
</html>
